#container {
  overscroll-behavior: none;
  background-color: #faf8f0;
}

.first-section,
.second-section,
.third-section,
.forth-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: var(--black);
}

.first-section {
  justify-content: space-evenly;
  min-height: 100vh;
}

.third-section {
  margin-top: 12rem;
}

.h1,
.p-title,
.ul-text,
.li-text {
  font-family: "Playball", cursive;
  font-size: 1.4rem;
  color: red;
}

.job-title-container {
  position: relative;
  overflow: hidden;
}

.job-title {
}

.hi-container {
  display: flex;
}

.hi,
.im-container > p {
  font-family: "MonumentExtended", sans-serif;
  font-size: 3.5rem;
  opacity: 0;
  margin: 0;
}

.caption-title {
  font-family: "MonumentExtended", sans-serif;
  font-size: 2rem;
}

.hi::selection,
.im-container > p::selection {
  background-color: #faf8f0;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
}

.scroll {
  width: 3px;
  height: 15px;
  background-color: var(--black);
  margin-top: 8px;
  border-radius: 12px;
}

.contact {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contact-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 4px;
}

.contact-bar {
  height: 2px;
  width: 0;
  background-color: var(--black);
}

.contact-icon {
  opacity: 0;
  cursor: pointer;
  color: var(--black);
}

.section-caption,
.h1-container {
  min-width: 50%;
  width: 50%;
}

.p-title {
  margin-top: 1rem;
}

.about-text {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  padding: 1rem 0.5rem;
}

.about-image-list {
  display: flex;
}

.about-image-item {
  width: 200px;
  height: 300px;
  overflow: hidden;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
}

.c-ratio {
  position: relative;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 250px;
}

.li-text {
  margin-left: 1.5rem;
}

.image-2 {
  top: 300px;
  left: 150px;
}

.image-3 {
  top: 500px;
  left: 300px;
}

.ul-text,
.h1 {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .h1-container,
  .section-caption {
    min-width: 70%;
    width: 70%;
  }

  .contact {
    width: 50px;
  }

  .caption-title {
    font-size: 0.9em;
  }

  .hi {
    font-size: 1.3em;
  }

  .contact-bar {
    display: none;
  }

  .mouse {
    width: 20px;
    height: 40px;
    border-width: 2px;
  }

  .scroll {
    width: 2px;
    height: 10px;
  }

  .tag {
    font-size: 1em;
  }

  .about-text {
    font-size: 0.8em;
  }

  .third-section {
    margin-top: 6rem;
  }
}
