#container {
  overscroll-behavior: none;
  background-color: #faf8f0;
}

.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
}

.first-section {
  justify-content: space-evenly;
}

.h1,
.p-title {
  font-family: "Playball", cursive;
  font-size: 1.4rem;
  color: red;
}

.hi-container {
  display: flex;
}

.hi,
.im-container > p {
  font-family: "MonumentExtended", sans-serif;
  font-size: 5rem;
  color: black;
  opacity: 0;
  margin: 0;
}

.caption-title {
  font-family: "MonumentExtended", sans-serif;
  font-size: 2rem;
  color: black;
}

.hi::selection,
.im-container > p::selection {
  background-color: #faf8f0;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
}

.scroll {
  width: 3px;
  height: 15px;
  background-color: black;
  margin-top: 8px;
  border-radius: 12px;
}

.contact {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contact-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 4px;
}

.contact-bar {
  height: 2px;
  width: 0;
  background-color: black;
}

.contact-icon {
  opacity: 0;
  cursor: pointer;
  color: black;
}

.section-caption,
.h1-container {
  min-width: 50%;
  width: 50%;
}

.p-title {
  margin-top: 1rem;
}

.about-text {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  padding: 1rem 0.5rem;
}

.about-image-list {
  display: flex;
}

.about-image-item {
  width: 200px;
  height: 300px;
  overflow: hidden;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
}

.c-ratio {
  position: relative;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 250px;
}

@media only screen and (max-width: 900px) {
  .hi,
  .im-container > p {
    font-size: 3rem;
  }
}

.im-container {
  display: flex;
}

.emre {
  margin-left: 2rem;
}

.lorem {
  margin-top: 512px;
}

.lorem > p {
  font-size: 4rem;
  color: white;
  mix-blend-mode: difference;
}
