.e-navbar {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
}

.section-item {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-family: "MonumentExtended", sans-serif;
  cursor: pointer;
}

.section-button {
  transition: color ease 200ms;
}

@media (min-width: 901px) {
  .section-item:hover {
    color: var(--red);
  }
}

.section-button:hover {
  color: var(--red);
}

@media (max-width: 900px) {
  .e-navbar {
    padding-left: 1rem;
  }

  .section-button {
    font-size: 0.7em;
  }
}
