.splash {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  mix-blend-mode: difference;
  overflow-x: hidden;
}

.text-container {
  display: flex;
  gap: 1rem;
}

.progress {
  width: 300px;
  height: 30px;
  border-radius: 12px;
  background-color: #faf8f0;
  overflow: hidden;
}

.progress_fill {
  width: 0%;
  height: 100%;
  background-color: gray;
  transition: all 0.2;
}

.progress_text {
  color: #faf8f0;
  font-family: "MonumentExtended";
  font-size: 2vw;
}

.splash-anim {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  mix-blend-mode: difference;
}

.black-bg {
  background-color: #faf8f0;
}
.white-bg {
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .progress_text {
    font-size: 4vw;
  }
}
